/*pallete info:
Retrieved from coolers.co: https://coolors.co/fadde1-ffc4d6-ffa6c1-ff87ab-ff5d8f-ff97b7-ffacc5-ffcad4-f4acb7
	dark pink: FF5D8F
	med pink: FFA6C1
	med pink2: ffc4d6
	light pink: FADDE1
	
	
/*Fonts from Google fonts:
    font-family: 'Grandstander', cursive;

    font-family: 'Henny Penny', cursive;

    font-family: 'Indie Flower', cursive;

    font-family: 'Secular One', sans-serif;
*/

html {
	background-color: #FF5D8F;
	/*dark pink*/
	margin: 0px 10px 10px 10px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Grandstander', cursive;
	background-color: #ffc4d6;
	/*Med pink*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
	width: 80%;
	text-align: center;
}

main {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	margin-top: 5%;
	text-align: left;
}

footer,
header {
	background-color: #FFA6C1;
}

header {
	font-family: 'Henny Penny', cursive;
	font-size: 150%;
	padding-left: 5px;
	padding-top: 5px;
	border-bottom: 3px solid #FF5D8F;
}

h1 {
	font-weight: bold;
	color: #cf4a73;
	text-shadow: 1px 1px 2px #ffffff;
}

.bold {
	font-weight: bold;
}

li {
	margin-bottom: 5px;
}

footer {
	padding-top: 35px;
	padding-bottom: 35px;
	margin-bottom: 0px;
	border-top: 3px solid #FF5D8F;
	text-align: center;
}

.volume {
	color: #cf4a73;
	display: block;
	width: 42px;
	float: right;
}

.volume:hover {
	color: white;
}

.invisible {
	visibility: hidden;
	color: green;
	width: 0px;
	height: 0px;
}

.pet-image {
	margin: 35% 10% 10% 10%;
	height: 25%;
	border-radius: 5px;
}

.dashboard div {
	display: block;
}

.message {
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-size: 120%;
	padding: 100px 110px 100px 100px;
	background: url("assets/text_bubble.png");
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: center;
	position: absolute;
	bottom: 40%;
	right: 68%;
}

.pet-image-container {
	display: block;
	height: 500px;
	width: 500px;
	text-align: center;
	background: url("assets/background.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	float: left;
}

.dashboard {
	background-color: #FADDE1;
	/*light pink*/
	border-radius: 25px;
	padding: 30px;
	display: inline-block;
	margin-top: 100px;
	margin-left: 130px;
}

.stats {
	margin: 0% 10% 5%;
}

meter {
	float: right;
}

.button-container {
	text-align: center;
	float: right;
}

.button-container button {
	font-family: 'Secular One', sans-serif;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	display: inline-block;
	font-size: 15px;
	background-color: #1e2835;
	border-color: #e9396c;
	cursor: pointer;
	background-image: linear-gradient(to bottom, #ba587d 0%, #d480a2 66%);
	color: #fafafa;
}